DEBUG=True

DATABASES_PASSWORD=tasks_tracker_password

SECRET_KEY=django-insecure-6t0dh4_c^tmglz*1hxz*qjpj+yh*k@v=)$kgg-rn-_ncb-7wo9

DATABASES_NAME=tasks_tracker
DATABASES_USER=postgres
DATABASES_HOST=db